.checkout-form {
    max-width: 885px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .checkout-form {
        fieldset {
            margin-top: 40px;
        }
    }
    .checkout-form__wrapper {
        width: 565px;
    }
    .checkout-form__button {
        border: 0;
        width: 100%;
        text-transform: uppercase;
        border-bottom: 2px solid #5cb204;
        background-color: #6bd400;
        color: #fff;
        border-radius: 5px;
        font-weight: 700;
        padding: 15px 20px;
        font-size: 13px;
        letter-spacing: 0.01rem;
        margin-top: 40px;
        transition: background-color .3s ease;
        cursor: pointer;
        span {
            display: inline-block;
            &::before {
                content: url(../../public/images/cart-icon.svg);
                display: inline-block;
                margin-right: 5px;
                height: 15px;
                width: 15px;
                transform: translateY(1px);
            }
        }
        &:hover, &:focus, &:active {
            background-color: #5cb204;
        }
    }
    .checkout-form__summary {
        width: 260px;
        margin-left: 15px;
        margin-top: 40px;
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;
        .summary__table-wrapper {
            border: 1px dashed #dcdcdc;
            padding: 15px 7px 10px;
            caption {
                caption-side: top;
                text-align: left;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                padding: 0 3px 13px;
                letter-spacing: 0.02rem;
            }
            .summary__table {
                font-size: 12px;
                font-weight: 700;
                width: 100%;
                max-width: 100%;
                border-bottom: 1px dashed #dcdcdc;
                padding-bottom: 12px;
                tr {
                    td {
                        padding-bottom: 10px
                    }
                    td {
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
                &.summary__table--subtotal {
                    padding-top: 10px;
                    border-bottom: 0;
                    tbody {
                        tr {
                            &:last-child {
                                td {
                                    padding-bottom: 14px;
                                }
                            }
                        }
                    }
                    tfoot {
                        tr {
                            vertical-align: top;
                        }
                        td {
                            border-top: 1px dashed #dcdcdc;
                            padding-top: 14px;
                            &:last-child {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
}