.checkout-form {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5px;
    @media (max-width: 1020px) {
        flex-wrap: wrap;
    }
    .checkout-form__wrapper {
        width: 565px;
    }
    form {
        fieldset {
            margin: 0;
            margin-bottom: 12px;
            border: 0;
            padding: 0;
            legend {
                display: flex;
                align-items: center;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-weight: 700;
                margin-bottom: 20px;
                margin-left: -30px;
                span {
                    font-weight: 700;
                    background: #000;
                    color: #fff;
                    display: inline-flex;
                    border-radius: 100%;
                    width: 20px;
                    height: 20px;
                    font-size: 14px;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }
                &.legend--lock-icon {
                    &::after {
                        content: url(../../public/images/lock-icon.svg);
                        display: inline-block;
                        margin-right: 5px;
                        margin-left: 9px;
                        height: 12px;
                        width: 12px;
                    }
                }
            }
            .form-row {
                position: relative;
                width: calc(100% - 10px);
                float: left;
                margin: 0 5px 20px;
                label {
                    position: absolute;
                    top: 8px;
                    left: 10px;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 0.01rem;
                    color: #515356;
                }
                .error {
                    margin-bottom: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .3s ease;
                    font-size: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: red;
                    transform: translateY(100%);
                }
                input, select {
                    padding: 25px 10px 5px;
                    width: calc(100% - 20px);
                    border: 0;
                    border-radius: 5px;
                    font-size: 17px;
                    border-bottom: 2px solid #d9d9d9;
                    &::placeholder {
                        color: #9f9f9f;
                    }
                    &.is-invalid {
                        border-color: red;
                        ~.error {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                select {
                    width: 100%;
                    -webkit-appearance: none;
                    background-color: #fff;
                }
                &.form-row--50 {
                    width: calc(50% - 10px);
                }
                &.form-row--select {
                    &::before {
                        content: '';
                        height: 6px;
                        width: 6px;
                        border-top: 2px solid #333333;
                        border-right: 2px solid #333333;
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        pointer-events: none;
                        top: 50%;
                        transform: translateY(-50%) rotate(135deg);
                    }
                }
                &.form-row--info {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        background-image: url(../../public/images/question-mark-icon.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        right: 10px;
                        height: 22px;
                        width: 22px;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }
                &.form-row--visa {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        background-image: url(../../public/images/visa-logo.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        right: 14px;
                        height: 12px;
                        width: 30px;
                        transform: translateY(-35%);
                        pointer-events: none;
                    }
                    &::before {
                        content: '';
                        top: 31%;
                        right: 9px;
                        border: 1px solid #e0e0e0;
                        border-radius: 5px;
                        pointer-events: none;
                        position: absolute;
                        height: 22px;
                        width: 36px;
                    }
                }
            }
        }
    }
    .form__success, .form__error {
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border-radius: 5px;
        display: none;
        &.active {
            display: block;
        }
    }
    .form__error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .form__success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .checkout-form__button {
        border: 0;
        width: 100%;
        text-transform: uppercase;
        border-bottom: 2px solid #5cb204;
        background-color: #6bd400;
        color: #fff;
        border-radius: 5px;
        font-weight: 700;
        padding: 15px 20px;
        font-size: 13px;
        letter-spacing: 0.01rem;
        margin-top: 8px;
        transition: background-color .3s ease;
        cursor: pointer;
        span {
            display: inline-block;
            &::before {
                content: url(../../public/images/cart-icon.svg);
                display: inline-block;
                margin-right: 5px;
                height: 15px;
                width: 15px;
                transform: translateY(1px);
            }
        }
        &:hover, &:focus, &:active {
            background-color: #5cb204;
        }
        &:disabled {
            cursor: not-allowed;
            background-color: #8fbc8f;
            &:hover, &:focus, &:active {
                background-color: #8fbc8f;
            }
        }
    }
    .checkout-form__summary {
        width: 260px;
        margin-left: 15px;
        margin-top: 40px;
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;
        .summary__table-wrapper {
            border: 1px dashed #dcdcdc;
            padding: 15px 7px 10px;
            caption {
                caption-side: top;
                text-align: left;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                padding: 0 3px 13px;
                letter-spacing: 0.02rem;
            }
            .summary__table {
                font-size: 12px;
                font-weight: 700;
                width: 100%;
                max-width: 100%;
                border-bottom: 1px dashed #dcdcdc;
                padding-bottom: 12px;
                tr {
                    td {
                        padding-bottom: 10px
                    }
                    td {
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
                &.summary__table--subtotal {
                    padding-top: 10px;
                    border-bottom: 0;
                    tbody {
                        tr {
                            &:last-child {
                                td {
                                    padding-bottom: 14px;
                                }
                            }
                        }
                    }
                    tfoot {
                        tr {
                            vertical-align: top;
                        }
                        td {
                            border-top: 1px dashed #dcdcdc;
                            padding-top: 14px;
                            &:last-child {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1020px) {
        .checkout-form__wrapper {
            width: 100%;
            padding: 0 30px;
            form {
                max-width: 565px;
                margin: 0 auto;
                .form-row {
                    &.form-row--50 {
                        width: calc(100% - 10px);
                    }
                }
            }
        }
        .checkout-form__summary {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}